@charset "UTF-8";

/* Reset */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    outline: none;
}

body { 
    line-height: 1; 
    font-family: Arial, Tahoma, Verdana, sans-serif; 
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { 
    display: block; 
}

ol, ul { 
    list-style: none; 
}

blockquote, q { 
    quotes: none; 
}

blockquote:before, blockquote:after, q:before, q:after { 
    content: ''; content: none; 
}

strong { 
    font-weight: bold; 
}

input { 
    outline: none; 
}

table { 
    border-collapse: collapse; border-spacing: 0; 
}

img {
     border: 0; max-width: 100%; 
}

a { 
    text-decoration: none; 
}
a:hover { 
    text-decoration: underline; 
}

/* Box Model */

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* 스크롤 숨기기 */

html, body, .boxwrap{
    -ms-overflow-style: none; 
    scrollbar-width: none; 
}

html::-webkit-scrollbar,
body::-webkit-scrollbar,
.boxwrap::-webkit-scrollbar {
    display: none;
}

/* layout */

html, body{
    width: 100%;
    height: 100%;
}

.boxwrap {
    width: 100%;
    height: 100%;
    position: relative;
}

.box {
    height: 100%;
    position: relative;
    color: #ffffff;
}

.inner {
    width: 100%;
    height: 100%;
    position: relative;
}

.inner > div {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.inner > .contents_wrap {
    position: relative
}

.transparent {
    z-index: 2;
    background-color: transparent;
}

.iframe_wrap {
    z-index: 1;
}

iframe {
    width: 100%;
    height: 100%;
}

/* intro */

video{
    width: 100%;
    width: 100vw;
}  

.jb-box{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
@media (orientation: portrait){
    video {
        width: initial;
        height: 100vh;
    }
}
@media (orientation: portrait) and (min-height: 721px){
    video {
        height: 200vh;
    }
}
@media (orientation: landscape) and (min-height: 721px){
    video {
        width: initial;
        height: 100vh;
    }
}
@media (orientation: landscape) and (min-width: 1281px){
    video {
        width: 100vw;
        height: initial;
    }
}

.type_wrap{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.typed{
    font-family: 'Noto Serif KR', serif;
}

.typed, .typed-cursor{
    font-size: 1.5rem;
    line-height: 1.5;
}

.typed-cursor {
    position: relative;
    top: -3px
}

/* bg animation */  

/* .background {
    width: 100vw;
    height: 100vh;
    background: #3E1E68;
    opacity: .1;
    overflow: hidden;
    max-width: 100%;
}

.background span {
    width: 20vmin;
    height: 20vmin;
    border-radius: 20vmin;
    backface-visibility: hidden;
    position: absolute;
    animation-name: move;
    animation-duration: 6s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.background span:nth-child(1) {
    color: #FFACAC;
    top: 46%;
    left: 46%;
    animation-duration: 12.1s;
    animation-delay: -7.5s;
    transform-origin: -13vw -19vh;
    box-shadow: -40vmin 0 5.2867891103vmin currentColor;
}
.background span:nth-child(2) {
    color: #E45A84;
    top: 19%;
    left: 45%;
    animation-duration: 12.6s;
    animation-delay: -1.2s;
    transform-origin: 20vw 2vh;
    box-shadow: 40vmin 0 5.6084017657vmin currentColor;
}
.background span:nth-child(3) {
    color: #FFACAC;
    top: 50%;
    left: 70%;
    animation-duration: 11.2s;
    animation-delay: -4.4s;
    transform-origin: 16vw 2vh;
    box-shadow: 40vmin 0 14.9957558114vmin currentColor;
}
.background span:nth-child(4) {
    color: #FFACAC;
    top: 2%;
    left: 27%;
    animation-duration: 11s;
    animation-delay: -7.1s;
    transform-origin: -11vw 18vh;
    box-shadow: 40vmin 0 13.0141178698vmin currentColor;
}
.background span:nth-child(5) {
    color: #583C87;
    top: 17%;
    left: 62%;
    animation-duration: 15.3s;
    animation-delay: -7.4s;
    transform-origin: 24vw -20vh;
    box-shadow: -40vmin 0 9.2505187379vmin currentColor;
}
.background span:nth-child(6) {
    color: #FFACAC;
    top: 11%;
    left: 97%;
    animation-duration: 14.8s;
    animation-delay: -7.2s;
    transform-origin: -19vw 12vh;
    box-shadow: 40vmin 0 14.6725980489vmin currentColor;
}
.background span:nth-child(7) {
    color: #583C87;
    top: 9%;
    left: 93%;
    animation-duration: 10.9s;
    animation-delay: -7.2s;
    transform-origin: 5vw 21vh;
    box-shadow: 40vmin 0 14.863079205vmin currentColor;
}
.background span:nth-child(8) {
    color: #583C87;
    top: 100%;
    left: 22%;
    animation-duration: 12.9s;
    animation-delay: -3.3s;
    transform-origin: 9vw 1vh;
    box-shadow: -40vmin 0 13.081182113vmin currentColor;
}
.background span:nth-child(9) {
    color: #FFACAC;
    top: 53%;
    left: 26%;
    animation-duration: 15.3s;
    animation-delay: -0.9s;
    transform-origin: 10vw 5vh;
    box-shadow: -40vmin 0 10.0139089266vmin currentColor;
}
.background span:nth-child(10) {
    color: #E45A84;
    top: 64%;
    left: 13%;
    animation-duration: 11.8s;
    animation-delay: -4.5s;
    transform-origin: 7vw 9vh;
    box-shadow: -40vmin 0 13.621670985vmin currentColor;
}
.background span:nth-child(11) {
    color: #FFACAC;
    top: 79%;
    left: 72%;
    animation-duration: 14.2s;
    animation-delay: -14s;
    transform-origin: -15vw 21vh;
    box-shadow: -40vmin 0 8.1788582045vmin currentColor;
}
.background span:nth-child(12) {
    color: #583C87;
    top: 44%;
    left: 12%;
    animation-duration: 12.2s;
    animation-delay: -6.2s;
    transform-origin: 17vw 6vh;
    box-shadow: -40vmin 0 9.7247030609vmin currentColor;
}
.background span:nth-child(13) {
    color: #583C87;
    top: 98%;
    left: 88%;
    animation-duration: 13s;
    animation-delay: -6.8s;
    transform-origin: -2vw 12vh;
    box-shadow: 40vmin 0 9.6580180244vmin currentColor;
}
.background span:nth-child(14) {
    color: #FFACAC;
    top: 80%;
    left: 8%;
    animation-duration: 15.7s;
    animation-delay: -6.2s;
    transform-origin: 10vw 20vh;
    box-shadow: 40vmin 0 7.0338171549vmin currentColor;
}
.background span:nth-child(15) {
    color: #E45A84;
    top: 62%;
    left: 30%;
    animation-duration: 15.3s;
    animation-delay: -0.4s;
    transform-origin: 25vw -23vh;
    box-shadow: 40vmin 0 6.5699635317vmin currentColor;
}
.background span:nth-child(16) {
    color: #FFACAC;
    top: 12%;
    left: 25%;
    animation-duration: 13.9s;
    animation-delay: -3.9s;
    transform-origin: 18vw -13vh;
    box-shadow: 40vmin 0 9.8143286671vmin currentColor;
}
.background span:nth-child(17) {
    color: #E45A84;
    top: 28%;
    left: 10%;
    animation-duration: 11.3s;
    animation-delay: -1.2s;
    transform-origin: 16vw -6vh;
    box-shadow: 40vmin 0 7.2313364794vmin currentColor;
}
.background span:nth-child(18) {
    color: #583C87;
    top: 41%;
    left: 6%;
    animation-duration: 11.4s;
    animation-delay: -7.3s;
    transform-origin: -24vw 5vh;
    box-shadow: -40vmin 0 10.0556422451vmin currentColor;
}
.background span:nth-child(19) {
    color: #583C87;
    top: 92%;
    left: 87%;
    animation-duration: 15.6s;
    animation-delay: -9.9s;
    transform-origin: 0vw -13vh;
    box-shadow: -40vmin 0 9.2842497473vmin currentColor;
}
.background span:nth-child(20) {
    color: #FFACAC;
    top: 31%;
    left: 54%;
    animation-duration: 11.4s;
    animation-delay: -4.5s;
    transform-origin: -21vw -11vh;
    box-shadow: -40vmin 0 5.7863357936vmin currentColor;
}

@keyframes move {
    100% {
        transform: translate3d(0, 0, 1px) rotate(360deg);
    }
} */


/* slider */

.arrow_wrap {
    position: absolute;
    width: 100%;
    top: 50%;
    z-index: 100;
}

.arrow_wrap>span {
    position: absolute;
    top: 0;
    font-size: 50px;
    color: rgba(197, 197, 197, 0.3);
    padding: 20px;
    margin-top: -40px;
}

.arrow_wrap>span:hover {
    color: rgba(197, 197, 197, 0.8);
}

.arrow_wrap>span:nth-child(1) {
    left: 0
}

.arrow_wrap>span:nth-child(2) {
    right: 0
}
