<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>career</title>
	<link
		href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic'
		rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="../css/career.css">
</head>

<body>
	<section>
		<header class="basic__header">
			<h2 class="basic__title">
				<span class="title-line"><span>career</span>
			</h2>
		</header>
		<div class="container">

			<ul class="timeline">

				<!-- Item 1 -->
				<li class="one">
					<div class="direction-r">
						<div class="flag-wrapper">
							<span class="flag">테스트</span>
							<span class="time-wrapper"><span class="time">2017 - 2020</span></span>
						</div>
						<div class="dept">Platform Development Team</div>
						<dl class="desc">
							<dd>- 내부 시스템 서버 개발</dd>
							<dd>- 내부 시스템 웹 페이지 개발</dd>
						</dl>
					</div>
				</li>

				<!-- Item 2 -->
				<li>
					<div class="direction-l">
						<div class="flag-wrapper">
							<span class="flag">테스트</span>
							<span class="time-wrapper"><span class="time">2015 - 2016</span></span>
						</div>
						<div class="dept">Design Team</div>
						<dl class="desc">
							<dd>- 홈페이지 및 쇼핑몰 유지보수
							</dd>
							<dd>- SNS 컨텐츠 제작 및 관리</dd>
						</dl>
					</div>
				</li>

				<!-- Item 3 -->
				<li>
					<div class="direction-r">
						<div class="flag-wrapper">
							<span class="flag">테스트</span>
							<span class="time-wrapper"><span class="time">2014 - 2015</span></span>
						</div>
						<div class="dept">Development Team</div>
						<dl class="desc">
							<dd>- 기존 웹 사이트 리뉴얼</dd>
							<dd>- 신규 사이트 개발</dd>
							<dd>- 웹 디자인</dd>
						</dl>
					</div>
				</li>

				<!-- Item 4 -->
				<li>
					<div class="direction-l">
						<div class="flag-wrapper">
							<span class="flag">테스트</span>
							<span class="time-wrapper"><span class="time">2012 - 2014</span></span>
						</div>
						<div class="dept">Design Team</div>
						<dl class="desc">
							<dd>- 홈페이지 개발 및 웹 디자인
							</dd>
							<dd>- 신규 쇼핑몰 제작 및 관리</dd>
							<dd>- 오픈마켓 관리</dd>
						</dl>
					</div>
				</li>
			</ul>
		</div>
	</section>
	<script src="../js/jquery-1.12.4.js"></script>
	<script src="../js/career.js"></script>
</body>
</html>
