<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>skill</title>
  <link rel="stylesheet" href="../css/skill.css">
</head>

<body>

  <div class="container">

    <div class="contents_wrap">
      <header class="basic__header">
        <h2 class="basic__title">
          <span class="title-line"><span>skill</span>
        </h2>
      </header>

      <div class="c1 circle">
        <strong></strong>
        <span>HTML5</span>
      </div>

      <div class="c2 circle">
        <strong></strong>
        <span>CSS3</span>
      </div>

      <div class="c3 circle">
        <strong></strong>
        <span>SCSS</span>
      </div>

      <div class="c4 circle">
        <strong></strong>
        <span>JS</span>
      </div>

      <div class="c5 circle">
        <strong></strong>
        <span>Jquery</span>
      </div>

      <div class="c6 circle">
        <strong></strong>
        <span>Node.js</span>
      </div>

      <div class="c7 circle">
        <strong></strong>
        <span>Ionic</span>
      </div>

      <div class="c8 circle">
        <strong></strong>
        <span>React</span>
      </div>

    </div>
  </div>

  <script src="../js/jquery-1.12.4.js"></script>
  <script src="../js/circle-progress.min.js"></script>
  <script src="../js/skill.js"></script>
</body>

</html>